#box-container {
  display: flex;
  height: 100%;
  width: 100%;
  background: grey;
  flex-direction: row;
}

#col-1 {
  background-color: blue;
  width: 400px;
  /*height: 100%;*/
  display: flex;
  flex-direction: column;
}

#col-2 {
  background-color: purple;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100%;
  
}
#make-ressie-box {
  /*height: 100px;*/
  background-color: pink;
  padding: 10px;
  /*width: 25%;*/
}

#manage-ressie-box {
 /* height: 200px;*/
  background-color: white;
  padding: 10px;
  /*width: 25%;*/
}

#map-box {
  background-color: yellow;
  height: 100px;
  width: 25%;
}

#hours-box {
  background-color: green;
  height: 200px;
  width: 25%;
}

#scratchpad {
  padding: 10px; 
  /*width: 100%;*/
}