#box-container {
  display: flex;
  height: 100%;
  width: 100%;
  background: grey;
  flex-direction: row;
}

#col-1 {
  background-color: blue;
  /*width: 50%;*/
  /*height: 100%;*/
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#col-2 {
  background-color: purple;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 50%;
  /*height: 100%;*/
  
}
#make-ressie-box {
  /*height: 100px;*/
  background-color: pink;
  padding: 10px;
  /*width: 25%;*/
}

#manage-ressie-box {
 /* height: 200px;*/
  background-color: white;
  padding: 10px;
  /*width: 25%;*/
}

#map-box {
  background-color: yellow;
  height: 200px;
  width: 90%;
  padding: 10px;
}

#hours-box {
  background-color: green;
  height: 150px;
  width: 100%;
  padding: 10px;
}

#scratchpad {
  padding: 10px; 
  width: 100%;
  background-color: orange;
}
